*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body{
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    width:100%;
    padding: 12px;
}
.chi3arteam {
    width:40px;
    height: 40px;
    margin-left: -110px;
}
header h2 {
    font-size: 35px;
    margin-left: -30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    font-family: airal;
}

nav ul li {
    list-style: none;
    display: inline-block;
    font-family: airal;
}

.liens{
    text-decoration: none;
    color:white;
    font-size: 19px;
    padding:0 15px;
    font-family: airal;
}
.liens:hover {
    transform: scale(1.1);
	transition:0.2s ease;
}

.image {
  position: fixed;
  top: 70px;
  right: 0;
  width: 50%;
  height:auto;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.4);
  mix-blend-mode: multiply;
}

.title{
    width:1000px;
    height: 665px;
    background-color:rgb(46, 46, 46) ;
    border:1px solid rgb(0, 0, 0);
    top:0;
    left:0;
}

.title h1 {
    font-size:55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000;
    color:white;
    margin-left: 30px;
    margin-top: 150px;
}

.title h1:hover{
    text-decoration: underline;
}

.p {
    width: 700px;
    height: 200px;
    background-color: rgb(46, 46, 46);
    margin-top: -400px;
    margin-left: 80px;
}

.p p {
    color:white;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    width: 500px;
    height: 70px;
    margin-left: 170px;
    border: 2px solid white;
    font-size: 30px;
    font-family:cursive;
    font-weight:900;
    cursor: pointer;
    margin-top: -40px;
    border-radius: 20px;
    background: transparent;
    color:white;
    backdrop-filter:none;
    transition:all 0.3s ease;

}

.button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-color: white;
}


