*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('backlogin2.jpg') no-repeat;
}

.cader {
    width:460px;
    background:transparent;
    border:2px solid white;
    backdrop-filter: blur(10px);
    color:white;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 30px 40px;
    transition: all 0.5s ease;

}

.cader:hover {
    transform:scale(1.1)
}

.titre h1 {
    font-size:40px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.undertitre {
    font-size:16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff4f4;
}

.cader .inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color:white;
    padding: 15px;
    padding-right: 40px;
}

.inputbox input::placeholder {
    color:white;
}

.tsawer {
    position: absolute;
    margin-left:-40px;
    margin-top: 7px;
}


.login button{
    width: 100%;
    height: 50px;
    background: white;
    border:none;
    outline:none;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor:pointer;
    font-size: 20px;
    color:rgb(0, 0, 0);
    font-weight: 600;
    font-family: arial;
}

